#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Ostrich+Sans+Inline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set a minimum height of the viewport height */
  margin: 0;
}
